.card-list-message {
    color: #000;
    padding: 6px;
    max-height: 72%;
    width: 110%;
    overflow: hidden;
    overflow-y: auto;

    .list-message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 95%;
      padding: 6px 8px;
      transform: translateX(15px);
      li {
        display: flex;
        flex: 1;
        margin-right: 50px;
        .message {
          flex: 1;
          padding: 0 12px
        }
      }
    }
  }