.input-message {
    display: flex;
    align-items: center;
    .file-message {
      cursor: pointer;
      input[type="file"] {
        display: none;
      }
    }
    .previewImage {
      position: absolute;
      height: 120px;
      bottom: 65px;
      left: 0;
      background-color: #fafafa56;
      padding: 5px 10px;
      border: 2px dotted #000;
      border-radius: 10px;
      .close-button {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        &:hover {
          background-color: #000;
        }
      }
      img {
        max-width: 180px;
        height: 100%;
      }
    }
    .input-text {
      flex: 1;
      display: flex;
      align-items: center;
      border: 1px solid #000;
      border-right-style: none;
      border-radius: 20px;
      margin: 0 8px;
      padding-right: 5px;
      input{
        flex: 1;
        font-size: 14px;
        border-style: none;
        outline-style: none;
        background: transparent;
        color: #fafafa;
        padding: 8px;
        &::placeholder {
          color: #fafafa;
        }
      }
    }
  }