.card-form-login {
  background: #a35a52;
  color: #fafafa;
  height: 100%;
  box-shadow: 20px 8px 80px -1px #0707078a;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.active-login {
    border: 5px solid green;
  }
  & > form {
    display: flex;
    flex-direction: column;
    
  }
  figure {
    text-align: center;
  }
  button[type=submit] {
    margin-top: 30px;
    width: 100%;
    padding: 6px 0;
    border: 1px solid #fafafa;
    outline-style: none;
    background: transparent;
    color: #fafafa;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      background: #47221f;
    }
  }
  label {
    width: 100%;
      margin: 10px  0;
      border-bottom: 1px solid #fafafa;
  }
  .user-active {
    border-style: none;
  }
  input {
    padding: 4px 8px;
    font-size: 18px;
    color: #fafafa;
    background: transparent;
    border-style: none;
    outline-style: none;
    &::placeholder {
      color: #cccccc;
      font-size: 14px;
    }
  }
}