.message-context {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 12px 0;
  padding: 10px 8px;
  &.my-message {
    justify-content: flex-end;
   .message-context-text {
     order: 1;
     text-align: right;
   }
   .avatar {
     order: 2;
   }
  }
  .details {
    position: absolute;
    bottom: -1.15em;
    right: 0;
    width: 100%;
    color: #e8e8e8;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }
  &:not(.my-message) .avatar:hover {
    position: relative;
    cursor: pointer;
    &::after {
      content: attr(data-username) '';
      text-transform: capitalize;
      position: absolute;
      top: -20px;
      left: -15px;
      min-width: 300px;
      color: #fafafa;
      font-weight: 300;
      font-size: 14px;
      font-style: italic;
}

  }
  .avatar-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    background: lavender;
    &.user {
      color: hsl(140, 48%, 45%);
      background: honeydew;
    }
  }
  .message-context-text {
    max-width: 500px;
    min-width: 200px;
    margin: 0 20px;
    padding: 6px 12px;
    word-break: break-all;
    background-color: #fafafa;
    border-radius: 6px;
    box-shadow: inset 0 0 2px 1px #834943;
    position: relative;
    img {
      display: block;
      margin-bottom: 10px;
    }
    img.lazyload {
      border: 1px solid;
      width: 400px;
      min-height: 350px;
      position: relative;
      background-color: rgba(20, 20, 20, 0.164);
      &::before {
        position: absolute;
        content: 'carregando...';
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #000;
        letter-spacing: 5px;
        font-size: 16px;
        font-weight: 700;
      }
    }
    .message-context-text-msg {
      font-size: 14px;
      color: #444;
    }
  }
}