
.home-page {
  color: #fafafa;
  .container {
    height: 80vh;
  }
  .row {
    display: flex;
    height: 100%;
    .painel-message {
      background: #834943;
      position: relative;
      .message-friends {
        height: 70%;
        width: 110%;
        padding-left: 10px;
        transform: translateX(-10%);
        overflow-y: auto;
        overflow-x: hidden;
        li {
          position: relative;
          background: #834943;
          width: 100%;
          transform: translateX(0%);
          padding: 16px 12px;
          box-shadow: -4px 0 10px rgba(0, 0, 0, 0.26);
          margin: 0 0 14px 0;
          transition: transform 800ms ease-in-out 0s, width 1s ease-in-out 0s;
          cursor: pointer;
          &:first-child {
            margin-top: 12px;
          }
          &.active {
            width: 100%;
            transform: translateX(10%);
            background: #57211b;
            box-shadow: 0 0 0 transparent;
          }
        }
      }
      & > footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .userInfo {
        margin: 30px 0 0 10px;
        display: flex;
        align-items: center;
        height: 60px;
        label {
          margin-left: 10px;
          color: #8cdeff;
          font-weight: bold;
          font-size: 14px;
          overflow: hidden;
          width: 62%;
          display: block;
        }
      }
      .form-search {
        opacity: 0;
        border-top: 5px solid rgba(0, 0, 0, 0.24);
        label {
          border: 1px solid #fafafa;
          border-radius: 20px;
          display: flex;
          align-items: center;
          margin: 0 8px;
          input {
            color: #fafafa;
            background: transparent;
            border-style: none;
            outline-style: none;
            flex: 1;
            padding: 6px;
            font-size: 16px;
            &::placeholder {
              color: #fafafa8f;
              background: transparent;
            }
          }
        }
      }
    }
    .content {
      background: #a75f57;
      height: 100%;
      position: relative;
      footer {
        height: 10%;
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        padding: 12px;
        padding-bottom: 0;
        .input-message {
          display: flex;
          align-items: center;
          .input-text {
            flex: 1;
            display: flex;
            align-items: center;
            border: 1px solid #000;
            border-right-style: none;
            border-radius: 20px;
            margin: 0 8px;
            padding-right: 5px;
            input{
              flex: 1;
              font-size: 14px;
              border-style: none;
              outline-style: none;
              background: transparent;
              color: #fafafa;
              padding: 8px;
              &::placeholder {
                color: #fafafa;
              }
            }
          }
        }
      }
    }
    .tabnav, .content {
      border-bottom: 1px solid #fafafa;
    }
    .column:nth-child(1) {
      flex: 25%;
      min-width: 25%;
    }
    .column:nth-child(2) {
      flex: 75%;
      min-width: 75%;
    }
  }
}