.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #834943;
    header {
        width: 50%;
        height: 80vh;
        background: #fafafa;
        box-shadow: -20px 0 60px #0707078a;
        .description {
          width: 70%;
          margin-left: 5%;
          margin-top: 10%;
          color: #1e8dc0;
        }
    }
    .form-absolute {
      width: 30%;
      height: 65vh;
      margin-left: -15vw;
      z-index: 1;
    }
}