.call-modal {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.932);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  .local-video {
    position: absolute;
    top: 10px;
    right: 40px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .remote-viedo {
      flex: 1;
    }
    .terminate-call {
      border-radius: 20px;
      border: 1px solid #fafafa;
      background-color: #f00;
      color: #fff;
      padding: 5px 18px;
      outline-style: none;
      letter-spacing: 2px;
      cursor: pointer;
      &:active {
        opacity: 0.6;
      }
    }
  }
}