.message-user {
    display: flex;
    align-items: center;
    .message-user-content {
      flex: 1;
      margin: 0 8px;
      header {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        .name {
          font-weight: bold;
        }
      }
      .text {
        font-size: 14px;
      }
    }
  }